<div class="students-grid__card__header">
    {{#if failedToLoadImage}}
        <MaterialIcon @icon="person" />

    {{else}}
        <img
            data-test-image
            src={{student.imageUrl}}
            alt=""
            onerror={{action "loadDefaultImage"}}
        >

    {{/if}}
</div>

<div class="students-grid__card__body">
    <div
        data-test-name
        class="students-grid__card__body__name"
        title={{student.fullName}}
    >
        {{student.fullName}}
    </div>

    <div class="students-grid__card__body__email">
        <MaterialIcon @icon="email" />

        <a
            data-test-email
            href="mailto:{{student.email}}"
            title={{student.email}}
        >
            {{student.email}}
        </a>
    </div>

    <div class="students-grid__card__body__phone">
        <MaterialIcon @icon="phone" />

        <a
            data-test-phone
            href="tel:{{student.internationalPhone}}"
            title={{student.phone}}
        >
            {{student.phone}}
        </a>
    </div>
</div>