<ul class="list-of-students">
    {{#each (sort-by "lastName" "firstName" model) as |student|}}
        <li>
            {{student-card
                student=student
            }}
        </li>
    {{/each}}
</ul>

<h1>{{model.fullName}}</h1>

<div class="student__section">
    <h2>Email</h2>

    <a
        data-test-email
        href="mailto:{{model.email}}"
        title={{model.email}}
    >
        {{model.email}}
    </a>
</div>

<div class="student__section">
    <h2>Phone</h2>

    <a
        data-test-phone
        href="tel:{{model.internationalPhone}}"
        title={{model.phone}}
    >
        {{model.phone}}
    </a>
</div>

<div class="student__section">
    <h2>Education</h2>

    <ul>
        {{#each model.resumes.firstObject.degrees as |degree|}}
            <li>{{degree}}</li>
        {{/each}}
    </ul>
</div>

<div class="student__section">
    <h2>Experiences</h2>

    <ol>
        {{#each model.resumes.firstObject.experiences as |experience|}}
            <li>
                <h3>{{experience.position}} at {{experience.company}}</h3>

                <ul>
                    {{#each experience.achievements as |achievement|}}
                        <li>{{achievement}}</li>
                    {{/each}}
                </ul>
            </li>
        {{/each}}
    </ol>
</div>

<div class="student__section">
    <h2>Skills</h2>

    <ul>
        {{#each (sort-by "name" model.resumes.firstObject.skills) as |skill|}}
            <li>{{skill.name}}</li>
        {{/each}}
    </ul>
</div>