{{#let
    student.id student.fullName student.email student.phone student.imageUrl
    as |id fullName email phone imageUrl|
}}
    <header {{fade-up id=id}}>
        <h1 data-test-name>{{fullName}}</h1>
    </header>

    <section
        class="student-details__profile-image"
        {{fade-up id=id}}
    >
        <ProfileImage @imageUrl={{imageUrl}} @altText={{fullName}} />
    </section>

    <section
        class="student-details__email"
        {{fade-up id=id delay=50}}
    >
        <header>
            <h2>Email</h2>
        </header>

        <a
            data-test-email
            href="mailto:{{email}}"
            title={{email}}
        >
            {{email}}
        </a>
    </section>

    <section
        class="student-details__phone"
        {{fade-up id=id delay=150}}
    >
        <header>
            <h2>Phone</h2>
        </header>

        <a
            data-test-phone
            href="tel:{{student.internationalPhone}}"
            title={{phone}}
        >
            {{phone}}
        </a>
    </section>

    <section
        class="student-details__education"
        {{fade-up id=id delay=250}}
    >
        <header>
            <h2>Education</h2>
        </header>

        <ul>
            {{#each (sort-by "name" resume.degrees) as |degree|}}
                <li
                    data-test-degree
                    class="item"
                >
                    {{degree.name}}
                </li>
            {{/each}}
        </ul>
    </section>

    <section
        class="student-details__experiences"
        {{fade-up id=id delay=350}}
    >
        <header>
            <h2>Experiences</h2>
        </header>

        <ul class="my-list">
            {{#each resume.experiences as |experience|}}
                <li
                    data-test-experience
                    class="item"
                >
                    <h3 data-test-title class="item__title">
                        {{experience.title}} at {{experience.company}}
                    </h3>

                    <ul>
                        {{#each experience.achievements as |achievement|}}
                            <li data-test-achievement class="item__achievement">
                                {{achievement}}
                            </li>
                        {{/each}}
                    </ul>
                </li>
            {{/each}}
        </ul>
    </section>

    <section
        class="student-details__skills"
        {{fade-up id=id delay=450}}
    >
        <header>
            <h2>Skills</h2>
        </header>

        <ul>
            {{#each (sort-by "category" "name" resume.skills) as |skill|}}
                <li
                    data-test-skill
                    class="item item--{{skill.category}}"
                >
                    {{skill.name}}
                </li>
            {{/each}}
        </ul>
    </section>
{{/let}}