{{! template-lint-disable no-triple-curlies }}
{{#let
    student.fullName student.metadata.relativeScore student.metadata.experiences student.metadata.skills
    as |fullName relativeScore experiences skills|
}}
    <header
        data-test-name
        class="results-grid__card__header"
        title={{fullName}}
    >
        <span class="results-grid__card__header__name">
            {{fullName}}
        </span>

        <span class="results-grid__card__header__score">
            {{relativeScore}}
        </span>
    </header>

    {{#if experiences}}
        <section class="results-grid__card__body__experiences">
            <span>Matched Experiences:</span>

            <ul class="my-list">
                {{#each experiences as |experience|}}
                    <li
                        data-test-experience
                        class="item"
                    >
                        <span class="item__title">
                            {{experience.position}} at {{experience.company}}
                        </span>

                        <ul>
                            {{#each experience.achievements as |achievement|}}
                                <li class="item__achievement">
                                    {{{achievement}}}
                                </li>
                            {{/each}}
                        </ul>
                    </li>
                {{/each}}
            </ul>
        </section>
    {{/if}}

    {{#if skills}}
        <section class="section results-grid__card__body__skills">
            <span>Matched Skills:</span>

            <div class="my-list">
                {{{join ", " (map-by "name" (sort-by "name" skills))}}}
            </div>
        </section>
    {{/if}}
{{/let}}