<h1>Search</h1>

{{input
    data-test-input="Search Skills"
    id="search-skills"
    value=query
    autofocus=true
    placeholder="I'm looking for the skill ..."
    key-up=(action "searchSkills")
}}

<form class="my-form" {{action (perform searchStudents) on="submit"}}>
    <fieldset>
        <label>Select up to {{MAX_NUM_SELECTED_SKILLS}} skills that you believe are very important.</label>

        <div class="container">
            <div data-test-available-skills class="available-skills">
                <span>Available:</span>

                {{#each
                    (sort-by "category" "name" filteredAvailableSkills)
                    as |skill|
                }}
                    <SkillPill
                        @skill={{skill}}
                        @onChangeHandler={{action "selectSkill" skill}}
                    />
                {{/each}}
            </div>

            <div data-test-selected-skills class="selected-skills">
                <span>Selected{{if selectedSkills (concat " (" selectedSkills.length ")")}}:</span>

                <AnimatedContainer>
                    {{#animated-each
                        (sort-by "category" "name" selectedSkills)
                        use=transition
                        duration=250
                        as |skill|
                    }}
                        <SkillPill
                            @skill={{skill}}
                            @onChangeHandler={{action "unSelectSkill" skill}}
                        />
                    {{/animated-each}}
                </AnimatedContainer>
            </div>
        </div>
    </fieldset>

    <button
        data-test-button="Submit"
        type="submit"
        disabled={{eq selectedSkills.length 0}}
    >
        Submit
    </button>
</form>