{{! template-lint-disable attribute-indentation }}
<h1>Search</h1>

{{input
    id="search-skills"
    class="my-input"
    value=query
    autofocus=true
    placeholder="I'm looking for the skill ..."
    key-up=(action "searchSkills")
}}

<form class="my-form" {{action (perform searchStudents) on="submit"}}>
    <fieldset>
        <label>Select up to {{MAX_NUM_SELECTED_SKILLS}} skills that you believe are very important.</label>

        <div class="selected-skills">
            <span>Selected{{if selectedSkills (concat " (" selectedSkills.length ")")}}:</span>

            <AnimatedContainer>
                {{#animated-each
                    (sort-by "type" "name" selectedSkills)
                    use=transition
                    duration=250
                    as |skill|
                }}
                    <SkillPill
                        @skill={{skill}}
                        @onChangeHandler={{action "unSelectSkill" skill}}
                    />
                {{/animated-each}}
            </AnimatedContainer>
        </div>

        <div class="remaining-skills">
            <span>Available:</span>

            {{#each
                (sort-by "type" "name" filteredRemainingSkills)
                as |skill|
            }}
                <SkillPill
                    @skill={{skill}}
                    @onChangeHandler={{action "selectSkill" skill}}
                />
            {{/each}}
        </div>
    </fieldset>

    <button type="submit" disabled={{eq selectedSkills.length 0}}>Submit</button>
</form>