<h1>Search</h1>

{{input
    id="search-skills"
    class="my-input"
    value=query
    autofocus=true
    placeholder="Search for the skill ..."
    key-up=(action "searchSkills")
}}

<form class="my-form" {{action (perform searchStudents) on="submit"}}>
    <fieldset>
        <label>Select up to {{MAX_NUM_SELECTED_SKILLS}} skills that you believe are very important {{if selectedSkills (concat "(" selectedSkills.length " selected)")}}</label>

        <div class="selected-skills">
            {{#each (sort-by "type" "name" selectedSkills) as |skill|}}
                <SkillPill
                    @skill={{skill}}
                    @onChangeHandler={{action "unSelectSkill" skill.id}}
                />
            {{/each}}
        </div>

        <div class="remaining-skills">
            {{#each (sort-by "type" "name" filteredRemainingSkills) as |skill|}}
                <SkillPill
                    @skill={{skill}}
                    @onChangeHandler={{action "selectSkill" skill.id}}
                />
            {{/each}}
        </div>
    </fieldset>

    <button type="submit">Submit</button>
</form>